In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

Buat data frame

In [ ]:
data = {
    "Nama" : ["Hatfan", "Sahrul", "Ramadhan"],
    "MTK" : [3.4, 3.5, 3.8],
    "Fisika" : [3.7, 3.4, 3.0],
    "Terapan" : [3.9, 3.8, 3.7]
}

df = pd.DataFrame(data)

print("Data Nilai Mahasiswa\n", df)