In [1]:
import pandas as pd

# 2 main datatypes

## Series = 1-Dimensional

In [9]:
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
colors = pd.Series(["Red", "Green", "Blue"])
colors

0      Red
1    Green
2     Blue
dtype: object

## DataFrame = 2-Dimensional

In [5]:
car_data = pd.DataFrame({"Car make" : series, "Color" : colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota  Green
2    Honda   Blue

# DataFrame

![](pandas-anatomy-of-a-dataframe.png)

<b>Import data frame from external file</b>

In [8]:
car_sale = pd.read_csv("car-sales.csv")
car_sale

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

<b>Export Data Frame (without 'index=False')</b>

In [14]:
car_sale.to_csv("exported_car_sales_index_true.csv")

# Reimport DataFrame
car_sale_index_true = pd.read_csv("exported_car_sales_index_true.csv")
car_sale_index_true

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00
5           5  Toyota  Green          99213      4   $4,500.00
6           6   Honda   Blue          45698      4   $7,500.00
7           7   Honda   Blue          54738      4   $7,000.00
8           8  Toyota  White          60000      4   $6,250.00
9           9  Nissan  White          31600      4   $9,700.00

We got Unnamed column which contain index that not necessary because python list will automatically give it index

<b> Export Data Frame (with 'index=False')</b>

In [17]:
car_sale.to_csv("exported_car_sales_index_false.csv", index=False)

# Reimport DataFrame
car_sale_index_false = pd.read_csv("exported_car_sales_index_false.csv")
car_sale_index_false

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00